h1{
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 20px;
  margin: 0px;
}
a{
  text-decoration:none;
  color: black;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article{
  border-left: 1px solid black;
  margin :20px;
}
@media(max-width:800px){
  #article{
    border-left: none;
  }
  #grid{
    display: block;
  }
  h1{
    color: blue;
  }
}
